.profile {
    margin-top: -5rem;
    
    @include breakpoint($tablet) {
        margin-top: -1rem;
        position: relative;

        border-bottom: 1px solid #1c1c1c;
    }

    &__avatar {
        display: block;
        width: 100px;
        height: 100px;
        margin: 0 auto 2rem;
        position: relative;

        border: 2px solid $white;
        box-shadow: 0 7px 20px rgba($black, .25);
        border-radius: 50%;

        @include breakpoint($tablet) {
            width: 6.5rem;
            height: 6.5rem;

            margin-left: 0;
            position: absolute;
            left: 0;
        }
    }

    &__header {
        margin-bottom: 2rem;

        text-align: center;

        @include breakpoint($tablet) {
            padding-top: 2rem;
            padding-left: 8rem;
            text-align: left;
        }
    }

    &__name {
        font-size: 1.8rem;

        @include breakpoint($tablet) {
            font-size: 1.5rem;
        }
    }

    &__prof {
        font-size: 1.4rem;
        font-weight: 300;
        color: #dedede;

        font-size: 1.2rem;
    }

    &__text {
        padding: 3rem 0;
        margin: 3rem 0;

        font-size: 1.2rem;
        text-align: center;

        border-top: 1px solid #1c1c1c;
        border-bottom: 1px solid #1c1c1c;

        @include breakpoint($tablet) {
            display: none;
        }
    }
}