.navbar {
    display: flex;
    align-items: center;

    font-size: 14px;
    color: #555;
    border-bottom: 0.5px solid rgb(235, 226, 226);

    .wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 50px;

        .search {
            display: flex;
            align-items: center;
            padding: 3px;
            border: 0.5px solid lightgray;
            margin-left: 20px;

            input {
                border: none;
                outline: none;
                background: transparent;

                &::placeholder {
                    font-size: 12px;
                }
            }
        }

        .items {
            display: flex;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;

                position: relative;

                .icon {
                    margin: 5px;
                    font-size: 20px;
                }

                .avatar {
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }

                .counter {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 12px;
                    height: 12px;
                    background-color: red;
                    border-radius: 50%;
                    font-size: 8px;
                    font-weight: bold;
                    color: white;

                    position: absolute;
                    top: 1px;
                    right: -2px;
                }
            }
        }
    }

}