<!-- modal -->
<div class="modal" id="contact-modal">
    <div class="modal__content modal__content--contact">
        <!-- close -->
        <button class="modal__close" type="button">
            <img src="/assets/images/close.svg" alt="close">
        </button>

        <!-- form -->
        <form action="/" class="form" method="post">
            <div class="form__group form__group--md">
                <input type="text" class="form__control" placeholder="Имя">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <input type="email" class="form__control" placeholder="E-mail">
                <span class="form__line"></span>
            </div>
            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
            </div>
        
            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>
        </form>

        <!-- contact -->
        <ul class="modal__footer">
            <li>
                e-mail: <a href="mailto:nikita.korolev96@outlook.com">nikita.korolev96@outlook.com</a>
            </li>
            <li>
                тел: <a href="tel:+79060448981">8-(906)-044-89-81</a>
            </li>
        </ul>
    </div><!-- /modal content -->
</div><!-- /modal -->
