<!-- modal -->
<div class="modal">
    <div class="modal__content">
        <!-- close -->
        <button class="modal__close" type="button">
            <img src="/assets/images/close.svg" alt="close">
        </button>

        <!-- social -->
        <ul class="social">
            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/face-sahre.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/twitt-share.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/vk-share.svg" alt="">
                </a>
            </li>

            <li class="social__item">
                <a class="social__link" href="#">
                    <img src="/assets/images/copy-share.svg" alt="">
                </a>
            </li>
        </ul>

    </div><!-- /modal content -->
</div><!-- /modal -->
