.datatable {
    height: 850px;
    padding: 20px;

    .dataTableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .link {
            display: flex;
            align-items: center;
            text-decoration: none;

            font-size: 16px;
            color: green;
            font-weight: 400;
        }

        .icon {
            margin-left: 10px;
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            display: block;
            width: 50px;
            height: 50px;
            object-fit: cover;
            overflow: hidden;
            margin-right: 20px;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
            background-color: rgba(0, 100, 0, .2);
            color: green;
        }

        &.passive {
            color: rgb(220, 20, 60);
            background-color: rgba(220, 20, 60, .2);
        }

        &.pending {
            color: goldenrod;
            background-color: rgba(218, 165, 32, .2);
        }
    }

    .cellActions {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton,
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .viewButton {
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.445);
        }

        .deleteButton {
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.418);
        }
    }
}